##
## get the writers used in this template
##
#set ($pws = $alc.getWriterSet())
#set ($lw = $pws.getWriter("com.corendal.netapps.framework.core.writers.DefaultLinkWriter"))

##
## write the menu item
##
$lw.getNonBreakableLinkHTML($smi.getDefaultLocation(), $sp.getCurrentLinkTitleEncoded(), $smi.getNameHTML(), $sp.getAccessKeyEncoded())

## end of template. keep the empty line after this line.
