##
## print the link
##
#if (($targetFormNameJavascript) && ($targetFieldNameJavascript))
<a href="#" onclick="popOneField('$targetFormNameJavascript', '$targetFieldNameJavascript', '$passedValueJavascript'); return false;" onkeypress="if (event.keyCode != 9) {popOneField('$targetFormNameJavascript', '$targetFieldNameJavascript', '$passedValueJavascript'); return false;}">$printedValueHTML</a>
#else
$printedValueHTML
#end
## end of template. keep the empty line after this line.
