##
## get the managers used in this template
##
#set ($pms = $alc.getManagerSet())
#set ($stlm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultStyleManager"))

##
## get the styles used in this template
##
#set ($regularTextStyle = $stlm.getRegularTextStandardStyle())

##
## print the empty cell
##
<td colspan="$colspan" class="$regularTextStyle.getName()">&nbsp;</td>
## end of template. keep the empty line after this line.
