##
## get the managers used in this template
##
#set ($pms = $alc.getManagerSet())
#set ($clrm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultColorManager"))

##
## get the colors used in this template
##
#set ($fullTextHighlightColor = $clrm.getFullTextHighlightStandardColor())

##
## start the span
##
<span style="background-color: $fullTextHighlightColor.getColor()">@NOEOLAFTERTHIS
## end of template. keep the empty line after this line.
