##
## get the managers used in this template
##
#set ($pms = $alc.getManagerSet())
#set ($stlm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultStyleManager"))
#set ($rm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultRequestManager"))
#set ($cfgm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultConfigManager"))

##
## get the writers used in this template
##
#set ($pws = $alc.getWriterSet())
#set ($pw = $pws.getWriter("com.corendal.netapps.framework.core.writers.DefaultPageWriter"))
#set ($lw = $pws.getWriter("com.corendal.netapps.framework.core.writers.DefaultLinkWriter"))

##
## get the location of the images folder
##
#set ($prop =  $cfgm.getStandardPropertySet())
#set ($imagesFolder = $prop.getImagesFolder())

##
## get the styles used in this template
##
#set ($largeBlockTitleStyle = $stlm.getLargeBlockTitleStandardStyle())
#set ($smallBlockTitleStyle = $stlm.getSmallBlockTitleStandardStyle())
#set ($sbBlockTitleActiveStyle = $sb.getBlockTitleActiveStyle())
#set ($sbBlockTitleInactiveStyle = $sb.getBlockTitleInactiveStyle())

##
## print the block
##

#set ($sbBlockSetSize = $sb.getBlocksSetSize())
#if ($sbBlockSetSize > 1)
#if ($sb.getIsBlockSetVisible())
##
## print the block title
##
#if (!($rm.getIsPrintableMode()))
##
## there are several blocks in the same blocks set, let's
## print the title as a link
##
#if ($sb.getIsCurrentInBlockSet())
<td class="$sbBlockTitleActiveStyle.getName()" title="$sb.getCurrentShortDescriptionEncoded()">@NOEOLAFTERTHIS
$lw.getNonBreakableLinkHTML($queryString, $sb.getCurrentShortDescriptionEncoded(), $sb.getCurrentNameHTML(), null)@NOEOLAFTERTHIS
</td>
#else
<td class="$sbBlockTitleInactiveStyle.getName()" title="$sb.getCurrentShortDescriptionEncoded()">@NOEOLAFTERTHIS
$lw.getNonBreakableLinkHTML($queryString, $sb.getCurrentShortDescriptionEncoded(), $sb.getCurrentNameHTML(), null)@NOEOLAFTERTHIS
</td>
#end
#else
##
## there is only one block in the same blocks set, let's
## print the title as text
##
<td class="$sbBlockTitleActiveStyle.getName()" title="$sb.getCurrentShortDescriptionEncoded()">@NOEOLAFTERTHIS
<span title="$sb.getCurrentShortDescriptionHTML()">$sb.getNonBreakableCurrentNameHTML()</span>@NOEOLAFTERTHIS
</td>
#end
#end
#else

##
## print the block name (with the page number when applicable)
##
#set ($sbType = $sb.getType())
#if ($sbType.equals("LARGE"))
<td width="100%" class="$largeBlockTitleStyle.getName()" title="$sb.getCurrentShortDescriptionEncoded()">@NOEOLAFTERTHIS
<span title="$sb.getCurrentShortDescriptionEncoded()">$sb.getNonBreakableCurrentNameHTML()</span>@NOEOLAFTERTHIS
</td>
#else
<td width="100%" class="$smallBlockTitleStyle.getName()" title="$sb.getCurrentShortDescriptionEncoded()">@NOEOLAFTERTHIS
<span title="$sb.getCurrentShortDescriptionEncoded()">$sb.getCurrentNameHTML()</span>@NOEOLAFTERTHIS
</td>
#end
#end
## end of template. keep the empty line after this line.
