##
## get the managers used in this template
##
#set ($pms = $alc.getManagerSet())
#set ($stlm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultStyleManager"))

##
## get the styles used in this template
##
#set ($textVisibleOnlyStyle = $stlm.getTextVisibleOnlyStandardStyle())

##
## print the link
##
<span class="$textVisibleOnlyStyle.getName()">$linkHTML</span>
## end of template. keep the empty line after this line.
