##
## get the managers used in this template
##
#set ($pms = $alc.getManagerSet())
#set ($stlm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultStyleManager"))
#set ($msgm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultMessageManager"))

##
## get the writers used in this template
##
#set ($pws = $alc.getWriterSet())
#set ($lw = $pws.getWriter("com.corendal.netapps.framework.core.writers.DefaultLinkWriter"))
#set ($flw = $pws.getWriter("com.corendal.netapps.framework.core.writers.DefaultFormLabelWriter"))
#set ($ffw = $pws.getWriter("com.corendal.netapps.framework.core.writers.DefaultFormFieldWriter"))
#set ($rbw = $srb.getResultsBlockWriter())

##
## get the styles used in this template
##
#set ($regularTextStyle = $stlm.getRegularTextStandardStyle())

##
## get the messages used in this template
##
#set ($pagesMessage = $msgm.getPagesStandardMessage())
#set ($firstMessage = $msgm.getFirstStandardMessage())
#set ($lastMessage = $msgm.getLastStandardMessage())
#set ($previousMessage = $msgm.getPreviousStandardMessage())
#set ($nextMessage = $msgm.getNextStandardMessage())

##
## get the associated prompts
##
#set ($pagesHTML = $pagesMessage.getMessageHTML())
#set ($firstHTML = $firstMessage.getMessageHTML())
#set ($lastHTML = $lastMessage.getMessageHTML())
#set ($previousHTML = $previousMessage.getMessageHTML())
#set ($nextHTML = $nextMessage.getMessageHTML())

##
## start the table
##
<table summary="" cellpadding="0" cellspacing="0" border="0">
<tr>

##
## print the "Pages:" prompt (if it exists)
##
#if ($pagesHTML)
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
$pagesHTML@NOEOLAFTERTHIS
</td>
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
:@NOEOLAFTERTHIS
</td>
#end

##
## print a spacer
##
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
&nbsp;@NOEOLAFTERTHIS
</td>

##
## print the "First" link
##
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
#if ($srb.getCurrentPageNum() != 1)
$lw.getBreakableLinkHTML($firstLocation, null, $firstHTML, null)@NOEOLAFTERTHIS
#else
$firstHTML@NOEOLAFTERTHIS
#end
</td>

##
## print a spacer
##
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
&nbsp;@NOEOLAFTERTHIS
|@NOEOLAFTERTHIS
&nbsp;@NOEOLAFTERTHIS
</td>

##
## print the prev link
##
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
#if ($srb.getCurrentPageNum() != 1)
$lw.getBreakableLinkHTML($previousLocation, null, $previousHTML, null)@NOEOLAFTERTHIS
#else
$previousHTML@NOEOLAFTERTHIS
#end
</td>

##
## print a spacer
##

<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
&nbsp;@NOEOLAFTERTHIS
</td>

##
## print the list of page numbers
##
#foreach ($i in [$pageStart..$pageEnd])
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
#if ($i != $srb.getCurrentPageNum())
$rbw.getPageNumberLinkHTML($srb, $i)@NOEOLAFTERTHIS
#else
$i@NOEOLAFTERTHIS
#end
</td>
<td class="$regularTextStyle.getName()">&nbsp;</td>
#end

##
## print the next link
##
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
#if ($srb.getCurrentPageNum() != $srb.getTotalPagesNum())
$lw.getBreakableLinkHTML($nextLocation, null, $nextHTML, null)@NOEOLAFTERTHIS
#else
$nextHTML@NOEOLAFTERTHIS
#end
</td>

##
## print a spacer
##
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
&nbsp;@NOEOLAFTERTHIS
|@NOEOLAFTERTHIS
&nbsp;@NOEOLAFTERTHIS
</td>

##
## print the "Last" link
##
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
#if ($srb.getCurrentPageNum() != $srb.getTotalPagesNum())
$lw.getBreakableLinkHTML($lastLocation, null, $lastHTML, null)@NOEOLAFTERTHIS
#else
$lastHTML@NOEOLAFTERTHIS
#end
</td>

##
## print a spacer
##
<td class="$regularTextStyle.getName()">@NOEOLAFTERTHIS
&nbsp;@NOEOLAFTERTHIS
|@NOEOLAFTERTHIS
&nbsp;@NOEOLAFTERTHIS
</td>

##
## print the form
##
<td>@NOEOLAFTERTHIS
#if ($isAboveResults)
<form name="pagenumboxabove" style="padding:0; margin:0;" accept-charset="$formCharSet" action="$currentLocation">
#else
<form name="pagenumboxbelow" style="padding:0; margin:0;" accept-charset="$formCharSet" action="currentLocation">
#end

##
## print the hidden parameters
##
#if ($longFormString)
$longFormString
#end

##
## resume the print
##
<table summary="" border="0" cellpadding="0" cellspacing="0">
<tr>

<td>@NOEOLAFTERTHIS
$flw.getHTMLNoCell($searchPageNumberLabel)@NOEOLAFTERTHIS
</td>

<td class="$regularTextStyle.getName()">&nbsp;</td>

<td>@NOEOLAFTERTHIS
$ffw.getHTMLNoCell($searchPageNumberField)@NOEOLAFTERTHIS
</td>

</tr>
</table>@NOEOLAFTERTHIS
</form>@NOEOLAFTERTHIS

##
## close the table
##
</td>
</tr>
</table>@NOEOLAFTERTHIS
## end of template. keep the empty line after this line.
