##
## get the managers used in this template
##
#set ($pms = $alc.getManagerSet())
#set ($rm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultRequestManager"))

##
## print the link reference
##
#if ($rm.getIsUserAgentCompatibleWithXHTML())
<link rel="$nameEncoded" title="$titleEncoded" href="$encodedLocation" />
#else
<link rel="$nameEncoded" title="$titleEncoded" href="$encodedLocation">
#end

## end of template. keep the empty line after this line.
