##
## get the managers used in this template
##
#set ($pms = $alc.getManagerSet())
#set ($stlm = $pms.getManager("com.corendal.netapps.framework.core.managers.DefaultStyleManager"))

##
## get the writers used in this template
##
#set ($pws = $alc.getWriterSet())
#set ($lw = $pws.getWriter("com.corendal.netapps.framework.core.writers.DefaultLinkWriter"))

##
## get the styles used in this template
##
#set ($tabItemStyle = $stlm.getTabItemStandardStyle())
#set ($tabSelectedItemStyle = $stlm.getTabSelectedItemStandardStyle())
#set ($tabCurrentSelectedItemStyle = $stlm.getTabCurrentSelectedItemStandardStyle())

##
## write the tab item
##
#if ($isTabItemCurrent)
#if ($isTabItemSelected)
<td class="$tabCurrentSelectedItemStyle.getName()">@NOEOLAFTERTHIS
$lw.getNonBreakableLinkHTML($sti.getDefaultLocation(), $sti.getDescriptionEncoded(), $sti.getNameHTML(), $sp.getAccessKeyEncoded())@NOEOLAFTERTHIS
</td>
#else
<td class="$tabSelectedItemStyle.getName()">@NOEOLAFTERTHIS
$lw.getNonBreakableLinkHTML($sti.getDefaultLocation(), $sti.getDescriptionEncoded(), $sti.getNameHTML(), $sp.getAccessKeyEncoded())@NOEOLAFTERTHIS
</td>
#end
#else
<td class="$tabItemStyle.getName()">@NOEOLAFTERTHIS
$lw.getNonBreakableLinkHTML($sti.getDefaultLocation(), $sti.getDescriptionEncoded(), $sti.getNameHTML(), $sp.getAccessKeyEncoded())@NOEOLAFTERTHIS
</td>
#end

## end of template. keep the empty line after this line.
